h2{
    font-weight: bold;
    color: black;
    text-align: center;
    margin:0;
    padding:0 0 20px;
    font-size:22px;
}
h4{
    text-align:center;
}
minisection{
    font-weight: 400;
    color: black;
    text-align: center;
}
.box {
    border: 2px solid rgba(228, 106, 6, 0.738);
    background-color: white;
    padding: 60px;
    margin: 40px;
    width: 420px;
    height: 620px;
    margin: auto;
    position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);
  }

  .box p{
   text-align:left;
  }

  .box input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="radio"]
  {
    border:#000;
    border-bottom:1px solid #000;
    background:transparent;
    outline:#000;
    height:25px;
    color:#000;
    font-size:12px;
  }
  /* .avatar{
    width:100px;
    height:100px;
    border-radius:50%;
    position:absolute;
    top:-50px;
    left:calc(50% - 50px);
  } */

header {
    /* background-image: url(https://img.freepik.com/premium-vector/thanks-card-simple-background_682335-28.jpg); */
    background-size: cover; 
    height: 100vh;
    background-position: center;

}

.box button{
    border:none;
    outline:none;
    height:30px;
    background: rgba(206, 87, 21, 0.8);
    color:#fff;
    font-size:16px;
    border-radius:10px;
    text-align:center;
    margin:auto;
    display:flex;
    justify-content:center;
    padding-top:6px;
    text-decoration: overline;
    text-decoration-color: #000;
}

.box button:hover
{
    cursor:pointer;
    background:rgba(152, 70, 24, 0.8);
    color:#000;
}

.box label a{
    text-decoration:none;
    font-size:16px;
    line-height:20px;
    color:rgba(221, 52, 52, 0.8);
}
.box label a:hover{
    cursor:pointer;
    color:rgba(59, 4, 141, 0.83);
}

.box p a {
text-decoration: none;
font-size:16px;
line-height:20px;
color:rgba(221, 52, 52, 0.8);
}
.box p a:hover{
    cursor:pointer;
    color:rgba(59, 4, 141, 0.83);
}