<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/About.css" /> 
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/About.css">
</head>
<body>

   <div class="navbar">
		<div class="icon">
			<h2 class="logo">VJTI</h2>
		</div>

		<div class="menu">
			<ul>
				<li><a href="/home">HOME</a></li>
				<li><a href="/about">ABOUT</a></li>
				<div>
					<div class="dropdown">
					 <button class="dropbtn">
					<li><a href="/login">LOG IN</a></li>
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="/student-login">\Student LogIn</a>
					  
					  <a href="/login">Admin LogIn</a>
					</div>
				  </div>
				</div>
				<div>
					<div class="dropdown">
					 <button class="dropbtn">
					<li><a href="/register">SIGN UP</a></li>
					<i class="fa fa-caret-down"></i>
					 </button>
					<div class="dropdown-content">
					 <a href="/register">Student SignUp</a>
				  
					 <a href="/register2">Admin SignUp</a>
					</div>
					 </div>

				</div>
				<li><a href="/contact">CONTACT</a></li>
			</ul>
		</div>

      <!-- <div class="search">
          <input class="srch" type="search" name="" placeholder="Type To text">
          <a href="#"> <button class="btn">Search</button></a>
      </div> -->

  </div> 

<div class="root">
   <header>
   <p class="heading text-red-700">ABOUT GRIEVANCE PORTAL </p>
   </header>
   <div>
      <section>
      <h2>
         <p>Grievance Management System is the process by which our organization deals with student grievances. Grievance management is an important part of maintaining a healthy workplace. It can help to identify and resolve issues before they become bigger problems. Students who feel that they have been wronged or have not been treated fairly in some way can file a formal grievance.
        <br> The students need to submit the digital proof,description, type of grievance and other relevant data to the committee.
         <br>Then the committee would further investigate the complaint.
        <br> The status of the complaint should be visible to the accuser.
         <br>The final reports prepared by the committee should be confidential to the members of the Committee and visible only on their end.
        </p>
         
      </h2>
      </section>
  

   </div>
</div>

<div class="box">
  <p class="heading ">FAQs</p>
  <div class="faqs">
     <details>
        <summary>what is the use of grievance portal?</summary>
        <p class="text">Purpose: The portal has been created to provide convenience to students of the college by allowing them to lodge a grievance through their mobile phones or computers. This removes the need for them to appear at any location and file a physical grievance. In addition, it provides them the facility of tracking the live status of their complaint, and providing feedback based on their satisfaction with the resolution. The system also allows the Grievance management committee  to closely track all lodged grievances, and ensure that corrective action is taken in each case.

         Objective: The objective of the portal is to ensure speedy, convenient and effective redressal of students issues by  the committee</p>
     </details>
     <details>
        <summary>What kind of grievances can I post ?</summary>
        <p class="text">Any grievance related to ragging,women harassment,student-related,faculty-related,academic-related,infrastructure related</p>
     </details>
     <details>
        <summary>What details do I need to login into the system?</summary>
        <p class="text">You are required to provide your valid registration number and password.</p>
     </details>
     <details>
       <summary>Within how many days will my grievance be resolved ?</summary>
       <p class="text">Grievances are expected to be resolved within 7 to 14 days.</p>
     </details>
     <details>
       <summary>what details or documents do I have to submit for grievance?</summary>
       <p class="text">you have to submit the digital proof, description,type of grievance,and other relevant data to the committee.</p>
     </details>
  </div>
</div>
</body>