<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/contact.css" /> 
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/contact.css">
</head>
<body>

  <div class="navbar">
		<div class="icon">
			<h2 class="logo">VJTI</h2>
		</div>

		<div class="menu">
			<ul>
				<li><a href="/home">HOME</a></li>
				<li><a href="/about">ABOUT</a></li>
				<div>
					<div class="dropdown">
					 <button class="dropbtn">
					<li><a href="/login">LOG IN</a></li>
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="/student-login">\Student LogIn</a>
					  
					  <a href="/login">Admin LogIn</a>
					</div>
				  </div>
				</div>
				<div>
					<div class="dropdown">
					 <button class="dropbtn">
					<li><a href="/register">SIGN UP</a></li>
					<i class="fa fa-caret-down"></i>
					 </button>
					<div class="dropdown-content">
					 <a href="/register">Student SignUp</a>
				  
					 <a href="/register2">Admin SignUp</a>
					</div>
					 </div>

				</div>
				<li><a href="/contact">CONTACT</a></li>
			</ul>
		</div>

    <!-- <div class="search">
        <input class="srch" type="search" name="" placeholder="Type To text">
        <a href="#"> <button class="btn">Search</button></a>
    </div> -->

</div> 

    <div id="wrapper">
     <h1>Contact Us </h1>
     
     <table id="keywords" cellspacing="0" cellpadding="0">
       <thead>
         <tr>
           <th><span>NAME</span></th>
           <th><span>DESIGNATION</span></th>
           <th><span>CONTACT</span></th>
           <th><span>EMAIL ID</span></th>
           
         </tr>
       </thead>
       <tbody>
         <tr>
           <td class="lalign">Dr.Ishaan Chandak</td>
           <td>Assistant Professor</td>
           <td>1234567890</td>
           <td>ishaan@gmail.com</td>
           
         </tr>
         <tr>
           <td class="lalign">Dr.Gauravi Patil</td>
           <td>Associate Professor</td>
           <td>5078945612</td>
           <td>gauravi@gmail.com</td>
           
         </tr>
         <tr>
           <td class="lalign">Dr.Soham Mulye</td>
           <td>Professor</td>
           <td>900456123</td>
           <td>soham@gmail.com</td>
           
         </tr>
         <tr>
           <td class="lalign">Dr.Pranav Shukla</td>
           <td>Professor </td>
           <td>350455612</td>
           <td>pranav@gmail.com</td>
           
         </tr>
         <tr>
           <td class="lalign">Dr.Dhruvanshu Joshi</td>
           <td>Associate Professor</td>
           <td>460456662</td>
           <td>dhruvanshu@gmail.com</td>
           
         </tr>
         <tr>
           <td class="lalign">Dr.Dhruvisha Anghan</td>
           <td>Professor</td>
           <td>748456662</td>
           <td>dhruvisha@gmail.com</td>
           
         </tr>
       </tbody>
     </table>
    </div> 
   </body>