<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form design</title>
    <link rel="stylesheet" href="../static/css/feedback.css">
</head>
<body>
    <header> 
        <section class="box">
            <text>Admin Feedback </text> 
            <label for="TextArea"></label>
            <!-- <input type="number"> -->
            <p>Enter the grievance ID:<br>
                <input type="number" rows="1" cols="20">
                <!-- <textarea rows="1" cols="20" name="TextArea" form="TextArea">Enter ID here...</textarea> -->
            </p>

            <label for="textarea"></label>
            <p>Enter the feedback:<br>
                <textarea rows="10" cols="20" name="textarea" form="textarea">Enter text here...</textarea>
            </p>
        </section>
    </form>
    </header>
</body>
</html>