<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greivance Registered</title>
    <link rel="stylesheet" href="../static/css/formFilled.css">
</head>

<body>
   <header>
      <section class="box">
          <img src="../static/images/Kliponious-green-tick.png">
     <text> Grievance Submitted</text>
         </section>
  </header>
</body>
</html>