<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="../static/css/homepage.css">
</head>
<body>

	<div class="navbar">
		<div class="icon">
			<h2 class="logo">VJTI</h2>
		</div>

		<div class="menu">
			<ul>
				<li><a href="/home">HOME</a></li>
				<li><a href="/about">ABOUT</a></li>
				<div>
					<div class="dropdown">
					 <button class="dropbtn">
					<li><a href="/login">LOG IN</a></li>
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="/student-login">\Student LogIn</a>
					  
					  <a href="/login">Admin LogIn</a>
					</div>
				  </div>
				</div>
				<div>
					<div class="dropdown">
					 <button class="dropbtn">
					<li><a href="/register">SIGN UP</a></li>
					<i class="fa fa-caret-down"></i>
					 </button>
					<div class="dropdown-content">
					 <a href="/register">Student SignUp</a>
				  
					 <a href="/register2">Admin SignUp</a>
					</div>
					 </div>

				</div>
				<li><a href="/contact">CONTACT</a></li>
			</ul>
		</div>

            <!-- <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div> -->

        </div> 
        <div class="content">
            <div class="card">
                
                <div class="container">
                  
                <h2>
                    WELCOME TO 
                </h2>
                <h1>
                    GRIEVANCE MANAGEMENT PORTAL
                </h1>
                
                <button class="cn"><a href="/about">KNOW MORE</a></button>
                
                <!-- <div class="form">
                    <h2>Login Here</h2>
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="" placeholder="Enter Password Here">
                    <button class="btnn"><a href="#">Login</a></button>

                    <p class="link">Don't have an account<br>
                    <a href="#">Sign up </a> here</a></p>
                    <p class="liw">Log in with</p>

                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>

                </div> -->
                    </div>
                </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>